/system/apps_unfinished/
/system/os_host/build
/system/os_platform/mac_sdl/_build
/system/hybrid/_build
/system/apps/test41_alchemy/logs/unsorted
/system/apps/test41_alchemy/root
/system/**/build
/**/_temp
/tools/shellicons/*.bmp
/tools/shellicons/compo1.png
/tools/shellicons/compo2.png
/temp/
system/os_platform/win32_sdl/_build/
/tools/prerender/screenshots/
output
output.tar
