/system/apps_unfinished/
/system/os_host/build
/system/os_platform/mac_sdl/_build
/system/hybrid/_build
/system/apps/test41_alchemy/logs/unsorted
/system/apps/test41_alchemy/root
/system/**/build
/system/**/_temp
/system/release/apps*
/tools/shellicons/*.bmp
/temp/
system/os_platform/win32_sdl/_build/

output
output.tar
